In [1]:

from __future__ import print_function

import IPython
print('IPython:', IPython.__version__)

import numpy
print('numpy:', numpy.__version__)

import scipy
print('scipy:', scipy.__version__)

import matplotlib
print('matplotlib:', matplotlib.__version__)

import sklearn
print('scikit-learn:', sklearn.__version__)

import seaborn
print('seaborn', seaborn.__version__)

IPython: 7.13.0
numpy: 1.20.1
scipy: 1.6.1
matplotlib: 3.3.4
scikit-learn: 0.24.1
seaborn 0.11.1

In [2]:
# This Python 3 environment comes with many helpful analytics libraries installed
# It is defined by the kaggle/python docker image: https://github.com/kaggle/docker-python
# For example, here's several helpful packages to load in 

import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)
import matplotlib.pyplot as plt

In [3]:
import os
#print(os.listdir("../input"))
print(os.listdir("input"))

['HRDataset_v9.xls']

In [4]:
#data=pd.read_csv('input/HRDataset_v9.csv')
data=pd.read_excel('input/HRDataset_v9.xls')
data
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 310 entries, 0 to 309
Data columns (total 28 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Employee Name        310 non-null    object
 1   Employee Number      310 non-null    int64
 2   MarriedID            310 non-null    int64
 3   MaritalStatusID      310 non-null    int64
 4   GenderID             310 non-null    int64
 5   EmpStatus_ID         310 non-null    int64
 6   DeptID               310 non-null    int64
 7   Perf_ScoreID         310 non-null    int64
 8   Age                  310 non-null    int64
 9   Pay Rate             310 non-null    float64
 10  State                310 non-null    object
 11  Zip                  310 non-null    int64
 12  DOB                  310 non-null    object
 13  Sex                  310 non-null    object
 14  MaritalDesc          310 non-null    object
 15  CitizenDesc          310 non-null    object
 16  Hispanic/Latino      310 non-null    object
 17  RaceDesc             310 non-null    object
 18  Date of Hire         310 non-null    object
 19  Days Employed        310 non-null    int64
 20  Date of Termination  103 non-null    object
 21  Reason For Term      310 non-null    object
 22  Employment Status    310 non-null    object
 23  Department           310 non-null    object
 24  Position             310 non-null    object
 25  Manager Name         310 non-null    object
 26  Employee Source      310 non-null    object
 27  Performance Score    310 non-null    object
dtypes: float64(1), int64(10), object(17)
memory usage: 67.9+ KB

In [5]:
data.head()

,Employee Name,Employee Number,MarriedID,MaritalStatusID,GenderID,EmpStatus_ID,DeptID,Perf_ScoreID,Age,Pay Rate,...,Date of Hire,Days Employed,Date of Termination,Reason For Term,Employment Status,Department,Position,Manager Name,Employee Source,Performance Score
0,"Brown, Mia",1103024456,1,1,0,1,1,3,30,28.50,...,10/27/2008,3317,NaN,N/A - still employed,Active,Admin Offices,Accountant I,Brandon R. LeBlanc,Diversity Job Fair,Fully Meets
1,"LaRotonda, William",1106026572,0,2,1,1,1,3,34,23.00,...,2014-06-01 00:00:00,1420,NaN,N/A - still employed,Active,Admin Offices,Accountant I,Brandon R. LeBlanc,Website Banner Ads,Fully Meets
2,"Steans, Tyrone",1302053333,0,0,1,1,1,3,31,29.00,...,9/29/2014,1154,NaN,N/A - still employed,Active,Admin Offices,Accountant I,Brandon R. LeBlanc,Internet Search,Fully Meets
3,"Howard, Estelle",1211050782,1,1,0,1,1,9,32,21.50,...,2/16/2015,58,4/15/2015,N/A - still employed,Active,Admin Offices,Administrative Assistant,Brandon R. LeBlanc,Pay Per Click - Google,N/A- too early to review
4,"Singh, Nan",1307059817,0,0,0,1,1,9,30,16.56,...,2015-01-05 00:00:00,940,NaN,N/A - still employed,Active,Admin Offices,Administrative Assistant,Brandon R. LeBlanc,Website Banner Ads,N/A- too early to review

In [6]:
x=data.iloc[:,:-1]
y=data.iloc[:,-1:]

In [7]:
x.drop(['Employee Name','Employee Number','State','DOB','Sex','MaritalDesc','CitizenDesc','Hispanic/Latino','RaceDesc','Date of Hire','Manager Name','Reason For Term','Employee Source','Date of Termination','Position'],axis=1,inplace=True)

In [8]:
x.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 310 entries, 0 to 309
Data columns (total 12 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   MarriedID          310 non-null    int64
 1   MaritalStatusID    310 non-null    int64
 2   GenderID           310 non-null    int64
 3   EmpStatus_ID       310 non-null    int64
 4   DeptID             310 non-null    int64
 5   Perf_ScoreID       310 non-null    int64
 6   Age                310 non-null    int64
 7   Pay Rate           310 non-null    float64
 8   Zip                310 non-null    int64
 9   Days Employed      310 non-null    int64
 10  Employment Status  310 non-null    object
 11  Department         310 non-null    object
dtypes: float64(1), int64(9), object(2)
memory usage: 29.2+ KB

In [9]:
label=x.iloc[:,10:]
label.head()

  Employment Status     Department
0            Active  Admin Offices
1            Active  Admin Offices
2            Active  Admin Offices
3            Active  Admin Offices
4            Active  Admin Offices

In [10]:
label.shape

(310, 2)

In [11]:
data['Employment Status'].value_counts

<bound method IndexOpsMixin.value_counts of 0      Active
1      Active
2      Active
3      Active
4      Active
        ...
305    Active
306    Active
307    Active
308    Active
309    Active
Name: Employment Status, Length: 310, dtype: object>

In [12]:
data['Employment Status'].unique()

array(['Active', 'Voluntarily Terminated', 'Terminated for Cause',
       'Leave of Absence', 'Future Start'], dtype=object)

In [13]:
data['Department'].unique()

array(['Admin Offices', 'Executive Office', 'IT/IS', 'Production       ',
       'Sales', 'Software Engineering'], dtype=object)

In [14]:
from sklearn.preprocessing import OneHotEncoder

In [15]:
from sklearn.preprocessing import OneHotEncoder
ohe = OneHotEncoder(categorical_features='all')

TypeError: __init__() got an unexpected keyword argument 'categorical_features'

In [16]:
label=ohe.fit_transform(label).toarray()
print(label)

NameError: name 'ohe' is not defined