In [1]:
println("Create DataFrames within the program")

Create DataFrames within the program

In [2]:
using DataFrames
using LinearAlgebra

## 1: DF from rows, Column Names

In [3]:
service = ["Consulting", "Installation", "Operation"]
account = ["0815", "1234", "9876"]
quantity = [10, 100, 50]
price = [100, 10, 50]
cost = [30, 7, 25]

3-element Array{Int64,1}:
 30
  7
 25

In [4]:
df = DataFrame(
    Service = service,
    Account = account,
    Quantity = quantity,
    Price = price,
    Cost = cost
)

3×5 DataFrame
│ Row │ Service      │ Account │ Quantity │ Price │ Cost  │
│     │ String       │ String  │ Int64    │ Int64 │ Int64 │
├─────┼──────────────┼─────────┼──────────┼───────┼───────┤
│ 1   │ Consulting   │ 0815    │ 10       │ 100   │ 30    │
│ 2   │ Installation │ 1234    │ 100      │ 10    │ 7     │
│ 3   │ Operation    │ 9876    │ 50       │ 50    │ 25    │

In [5]:
typeof(df)

DataFrame

In [6]:
colNames = names(df)

5-element Array{String,1}:
 "Service"
 "Account"
 "Quantity"
 "Price"
 "Cost"

Transposing is really supported for Julia Dataframes.  Also Python has some issues.

## 2 - Quick DF Generations

In [7]:
df = DataFrame()

0×0 DataFrame

In [8]:
df = DataFrame(a=1, b=1.0)

1×2 DataFrame
│ Row │ a     │ b       │
│     │ Int64 │ Float64 │
├─────┼───────┼─────────┤
│ 1   │ 1     │ 1.0     │

In [9]:
DataFrame([rand(3) for i in 1:3], :auto)

MethodError: MethodError: no method matching DataFrame(::Array{Array{Float64,1},1}, ::Symbol)
Closest candidates are:
  DataFrame(::AbstractArray{#s34,1} where #s34<:(AbstractArray{T,1} where T)) at /home/julia/.julia/packages/DataFrames/GtZ1l/src/dataframe/dataframe.jl:242
  DataFrame(::AbstractArray{#s33,1} where #s33<:(AbstractArray{T,1} where T), !Matched::AbstractArray{Symbol,1}; makeunique, copycols) at /home/julia/.julia/packages/DataFrames/GtZ1l/src/dataframe/dataframe.jl:242
  DataFrame(::AbstractArray{T,1} where T, !Matched::AbstractArray{Symbol,1}; makeunique, copycols) at /home/julia/.julia/packages/DataFrames/GtZ1l/src/dataframe/dataframe.jl:228
  ...

In [10]:
using Random
df = DataFrame(a = 1:3, b = rand(3), c = randn(3), Pasword=randstring.("ABC", 3), fixed = "good")

3×5 DataFrame
│ Row │ a     │ b         │ c          │ Pasword │ fixed  │
│     │ Int64 │ Float64   │ Float64    │ String  │ String │
├─────┼───────┼───────────┼────────────┼─────────┼────────┤
│ 1   │ 1     │ 0.106553  │ -0.0787684 │ AAB     │ good   │
│ 2   │ 2     │ 0.0168964 │ 1.09424    │ AAB     │ good   │
│ 3   │ 3     │ 0.163512  │ 0.911876   │ AAB     │ good   │

In [11]:
empty!(df)

┌ Warning: `empty!(df::DataFrame)` is deprecated, use `select!(df, Int[])` instead.
│   caller = top-level scope at In[11]:1
└ @ Core In[11]:1

0×0 DataFrame

## Transpose Dataframe

In [12]:
m = Matrix(df)

ArgumentError: ArgumentError: reducing over an empty collection is not allowed

In [13]:
### Transpose matrix does not work here - despite all LinearAlgebra package inclusion
mT = transpose(m);
mt = m';

UndefVarError: UndefVarError: m not defined

In [14]:
A = [3+2im 9+2im; 8+7im  4+6im]

2×2 Array{Complex{Int64},2}:
 3+2im  9+2im
 8+7im  4+6im

In [15]:
transpose(A)

2×2 Transpose{Complex{Int64},Array{Complex{Int64},2}}:
 3+2im  8+7im
 9+2im  4+6im

In [16]:
m = Matrix(df[:, 3:end])

ArgumentError: ArgumentError: reducing over an empty collection is not allowed

In [17]:
transpose(m)

UndefVarError: UndefVarError: m not defined