In [1]:
println("Create DataFrames within the program")

Create DataFrames within the program

In [2]:
using DataFrames
using LinearAlgebra

## Create the same dataframe in Python and Julia

In [20]:
service = ["Consulting", "Installation", "Operation"]
account = ["0815", "1234", "9876"]
quantity = [10, 100, 50]
price = [100, 10, 50]
cost = [30, 7, 25];

In [19]:
df = DataFrame(
    Service = service,
    Account = account,
    Quantity = quantity,
    Price = price,
    Cost = cost
)

3×5 DataFrame
│ Row │ Service      │ Account │ Quantity │ Price │ Cost  │
│     │ String       │ String  │ Int64    │ Int64 │ Int64 │
├─────┼──────────────┼─────────┼──────────┼───────┼───────┤
│ 1   │ Consulting   │ 0815    │ 10       │ 100   │ 30    │
│ 2   │ Installation │ 1234    │ 100      │ 10    │ 7     │
│ 3   │ Operation    │ 9876    │ 50       │ 50    │ 25    │

Done (Similar result as with Python)

In [5]:
typeof(df)

DataFrame

In [6]:
colNames = names(df)

5-element Array{String,1}:
 "Service"
 "Account"
 "Quantity"
 "Price"
 "Cost"

Transposing is really supported for Julia Dataframes.  Also Python has some issues.

## 2 - Quick DF Generations

In [7]:
df = DataFrame()

0×0 DataFrame

In [8]:
df = DataFrame(a=1, b=1.0)

1×2 DataFrame
│ Row │ a     │ b       │
│     │ Int64 │ Float64 │
├─────┼───────┼─────────┤
│ 1   │ 1     │ 1.0     │

In [10]:
using Random
df = DataFrame(a = 1:3, b = rand(3), c = randn(3), Pasword=randstring.("ABC", 3), fixed = "good")

3×5 DataFrame
│ Row │ a     │ b        │ c          │ Pasword │ fixed  │
│     │ Int64 │ Float64  │ Float64    │ String  │ String │
├─────┼───────┼──────────┼────────────┼─────────┼────────┤
│ 1   │ 1     │ 0.872464 │ -0.0821864 │ AAA     │ good   │
│ 2   │ 2     │ 0.161365 │ 0.343406   │ AAA     │ good   │
│ 3   │ 3     │ 0.166446 │ -0.0633337 │ AAA     │ good   │