In [1]:
using DataFrames

In [2]:
#df1 = DataFrame(ID=[1,2,3,4,6], name = ["Alice", "Bob", "Conor", "Dave","Zed"])
names = ["Alice", "Bob", "Conor", "Dave","Zed"]
df1 = DataFrame(ID=[1,2,3,4,6], Name = names)

5×2 DataFrame
 Row │ ID     Name
     │ Int64  String
─────┼───────────────
   1 │     1  Alice
   2 │     2  Bob
   3 │     3  Conor
   4 │     4  Dave
   5 │     6  Zed

In [3]:

df2 = DataFrame(ID=[1,2,5,6,7], Age = [21,32,43,54,65])

5×2 DataFrame
 Row │ ID     Age
     │ Int64  Int64
─────┼──────────────
   1 │     1     21
   2 │     2     32
   3 │     5     43
   4 │     6     54
   5 │     7     65

## Join Julia Dataframes
Julia only offers "join" to merge dataframes

In [4]:
df1 = df1[[1,2],:]
println(df1)
df2 = df2[[1,2],:]
println(df2)

2×2 DataFrame
 Row │ ID     Name
     │ Int64  String
─────┼───────────────
   1 │     1  Alice
   2 │     2  Bob
2×2 DataFrame
 Row │ ID     Age
     │ Int64  Int64
─────┼──────────────
   1 │     1     21
   2 │     2     32

In [5]:
innerjoin(df1, df2, on=[:ID], matchmissing=:equal)

2×3 DataFrame
 Row │ ID     Name    Age
     │ Int64  String  Int64
─────┼──────────────────────
   1 │     1  Alice      21
   2 │     2  Bob        32

In [6]:
leftjoin(df1, df2, on="ID"=>"ID", matchmissing=:equal)

2×3 DataFrame
 Row │ ID     Name    Age
     │ Int64  String  Int64?
─────┼───────────────────────
   1 │     1  Alice       21
   2 │     2  Bob         32

In [7]:
rightjoin(df1, df2, on=:ID=>:ID, matchmissing=:equal)

2×3 DataFrame
 Row │ ID      Name     Age
     │ Int64?  String?  Int64
─────┼────────────────────────
   1 │      1  Alice       21
   2 │      2  Bob         32

In [8]:
outerjoin(df1, df2, on=:ID=>:ID, matchmissing=:equal)

2×3 DataFrame
 Row │ ID      Name     Age
     │ Int64?  String?  Int64?
─────┼─────────────────────────
   1 │      1  Alice        21
   2 │      2  Bob          32

There are some more join options in Julia that do not exist in Pandas, and that might be useful to reduce the original df gving information in the other df (e.g. semijoin).

## Aggregating columns in a DF (by)

In [9]:
df = DataFrame(id=[1,2,3,4,1,2,3,4], id2=[1,2,1,2,1,2,1,2], v=rand(8))

8×3 DataFrame
 Row │ id     id2    v
     │ Int64  Int64  Float64
─────┼────────────────────────
   1 │     1      1  0.418197
   2 │     2      2  0.577158
   3 │     3      1  0.640974
   4 │     4      2  0.911621
   5 │     1      1  0.65903
   6 │     2      2  0.673103
   7 │     3      1  0.874843
   8 │     4      2  0.289692

In [10]:
dfG = groupby(df, :id);
dfG[1]

2×3 SubDataFrame
 Row │ id     id2    v
     │ Int64  Int64  Float64
─────┼────────────────────────
   1 │     1      1  0.418197
   2 │     1      1  0.65903

## Aggregating columns in a DF (by)