# Columns

## Get Started (Load a DataFrame)

In [1]:
using CSV
using DataFrames

In [2]:
filename = "Data_Applicants/aug_train.csv"
colsIwannaUse = ["enrollee_id", "city", "gender"]
df = CSV.read(filename, DataFrame; select=colsIwannaUse, limit=5)

5×3 DataFrame
 Row │ enrollee_id  city      gender
     │ Int64        String    String?
─────┼────────────────────────────────
   1 │        8949  city_103  Male
   2 │       29725  city_40   Male
   3 │       11561  city_21   missing
   4 │       33241  city_115  missing
   5 │         666  city_162  Male

## Column Names - Get and Rename

In [3]:
### Get column names ( = headers)
columnNames = names(df)

3-element Array{String,1}:
 "enrollee_id"
 "city"
 "gender"

In [4]:
### Capitalize names (or minimalize, etc.)
rename!(uppercasefirst, df )

5×3 DataFrame
 Row │ Enrollee_id  City      Gender
     │ Int64        String    String?
─────┼────────────────────────────────
   1 │        8949  city_103  Male
   2 │       29725  city_40   Male
   3 │       11561  city_21   missing
   4 │       33241  city_115  missing
   5 │         666  city_162  Male

In [5]:
### Completely exchange all names
newColNames = [:Potential, :Location, :MF]
rename!(df, newColNames)

5×3 DataFrame
 Row │ Potential  Location  MF
     │ Int64      String    String?
─────┼──────────────────────────────
   1 │      8949  city_103  Male
   2 │     29725  city_40   Male
   3 │     11561  city_21   missing
   4 │     33241  city_115  missing
   5 │       666  city_162  Male

In [6]:
### Just rename a specific column (or a few of them)
rename!(df, :MF => :Gender)

5×3 DataFrame
 Row │ Potential  Location  Gender
     │ Int64      String    String?
─────┼──────────────────────────────
   1 │      8949  city_103  Male
   2 │     29725  city_40   Male
   3 │     11561  city_21   missing
   4 │     33241  city_115  missing
   5 │       666  city_162  Male

In [7]:
### Rename a column at a specified position
rename!(df, 3 => :Gender)

5×3 DataFrame
 Row │ Potential  Location  Gender
     │ Int64      String    String?
─────┼──────────────────────────────
   1 │      8949  city_103  Male
   2 │     29725  city_40   Male
   3 │     11561  city_21   missing
   4 │     33241  city_115  missing
   5 │       666  city_162  Male

## Reorder Columns

In [8]:
dfN = df[!, [2, 1, 3]]

5×3 DataFrame
 Row │ Location  Potential  Gender
     │ String    Int64      String?
─────┼──────────────────────────────
   1 │ city_103       8949  Male
   2 │ city_40       29725  Male
   3 │ city_21       11561  missing
   4 │ city_115      33241  missing
   5 │ city_162        666  Male

In [9]:
#fN = df[!:[:Potential, :Location, :MF]] ### Does not work
dfN = select(df, [:Potential, :Gender, :Location])

5×3 DataFrame
 Row │ Potential  Gender   Location
     │ Int64      String?  String
─────┼──────────────────────────────
   1 │      8949  Male     city_103
   2 │     29725  Male     city_40
   3 │     11561  missing  city_21
   4 │     33241  missing  city_115
   5 │       666  Male     city_162

In [18]:
### Reverse order
# dfN = df[:,::-1]   ### a third place does not exist in Julia, but a reverse command
dfN = df[:,reverse(names(df))]

5×4 DataFrame
 Row │ Gender   Location  Potential  D
     │ String?  String    Int64      String
─────┼──────────────────────────────────────
   1 │ Male     city_103       8949  Great
   2 │ Male     city_40       29725  Great
   3 │ missing  city_21       11561  Great
   4 │ missing  city_115      33241  Great
   5 │ Male     city_162        666  Great

In [11]:
### Keep columns from col 3 onwards
dfN = df[:,3:end]

5×1 DataFrame
 Row │ Gender
     │ String?
─────┼─────────
   1 │ Male
   2 │ Male
   3 │ missing
   4 │ missing
   5 │ Male

## Adding Columns - Operating on Columns

In [12]:
### Add to the end, a column with numbers (must have length of rows)
n = nrow(df)
dfN = copy(df)
dfN.A = 1:n
dfN

5×4 DataFrame
 Row │ Potential  Location  Gender   A
     │ Int64      String    String?  Int64
─────┼─────────────────────────────────────
   1 │      8949  city_103  Male         1
   2 │     29725  city_40   Male         2
   3 │     11561  city_21   missing      3
   4 │     33241  city_115  missing      4
   5 │       666  city_162  Male         5

In [13]:
dfN = copy(df)
dfN[!, :Rating] .= "Amazing"
dfN

5×4 DataFrame
 Row │ Potential  Location  Gender   Rating
     │ Int64      String    String?  String
─────┼───────────────────────────────────────
   1 │      8949  city_103  Male     Amazing
   2 │     29725  city_40   Male     Amazing
   3 │     11561  city_21   missing  Amazing
   4 │     33241  city_115  missing  Amazing
   5 │       666  city_162  Male     Amazing

In [14]:
### Add to the end, a column with the same string.
v = fill("Great", n)
dfN.Comment = v
dfN.Comment = fill("Great", n)
dfN

5×5 DataFrame
 Row │ Potential  Location  Gender   Rating   Comment
     │ Int64      String    String?  String   String
─────┼────────────────────────────────────────────────
   1 │      8949  city_103  Male     Amazing  Great
   2 │     29725  city_40   Male     Amazing  Great
   3 │     11561  city_21   missing  Amazing  Great
   4 │     33241  city_115  missing  Amazing  Great
   5 │       666  city_162  Male     Amazing  Great

In [15]:
### Insert the clumns at  a certain position a position
dfN = copy(df)
#insertcols!(df, 1, :B => [1,2,3,4,5])
dfN = insertcols!(df, 1, :D => v)

5×4 DataFrame
 Row │ D       Potential  Location  Gender
     │ String  Int64      String    String?
─────┼──────────────────────────────────────
   1 │ Great        8949  city_103  Male
   2 │ Great       29725  city_40   Male
   3 │ Great       11561  city_21   missing
   4 │ Great       33241  city_115  missing
   5 │ Great         666  city_162  Male

In [16]:
dfN = hcat(df,[1,2,3,4,5], makeunique=true)

5×5 DataFrame
 Row │ D       Potential  Location  Gender   x1
     │ String  Int64      String    String?  Int64
─────┼─────────────────────────────────────────────
   1 │ Great        8949  city_103  Male         1
   2 │ Great       29725  city_40   Male         2
   3 │ Great       11561  city_21   missing      3
   4 │ Great       33241  city_115  missing      4
   5 │ Great         666  city_162  Male         5