# Rows

## Get Started (Load a DataFrame)

In [1]:
using CSV
using DataFrames

In [2]:
filename = "Data_Applicants/aug_train.csv"
colsIwannaUse = ["enrollee_id", "city", "gender"]
df = CSV.read(filename, DataFrame; select=colsIwannaUse, limit=50)
first(df,5)

5×3 DataFrame
 Row │ enrollee_id  city      gender
     │ Int64        String    String?
─────┼────────────────────────────────
   1 │        8949  city_103  Male
   2 │       29725  city_40   Male
   3 │       11561  city_21   missing
   4 │       33241  city_115  missing
   5 │         666  city_162  Male

## Sort

In [3]:
dfS = sort!(df, rev = true)
first(dfS,5)

5×3 DataFrame
 Row │ enrollee_id  city      gender
     │ Int64        String    String?
─────┼────────────────────────────────
   1 │       33241  city_115  missing
   2 │       31972  city_159  Male
   3 │       31654  city_21   missing
   4 │       29725  city_40   Male
   5 │       29452  city_21   missing

In [4]:
### Sort by one column
sort!(df, :city)
first(dfS,5)

5×3 DataFrame
 Row │ enrollee_id  city      gender
     │ Int64        String    String?
─────┼────────────────────────────────
   1 │       21538  city_100  Male
   2 │        4476  city_101  Male
   3 │        6491  city_102  missing
   4 │       28476  city_103  Male
   5 │       27107  city_103  Male

In [5]:
### sort(df, [:city, :gender], rev=[true, false]) Kernel dies!!!
#sortCols = [:city, :gender]
#sort!(df, [order(:city, :gender)]) #As in Dataframes.jl, but throws error here!
#first(dfS,5)

In [12]:
### Swap rows
#x[[1,10],:] .= x[[10,1],:]
df[[1,3],:] .= df[[3,1],:]
first(dfS,5)

5×3 DataFrame
 Row │ enrollee_id  city      gender
     │ Int64        String    String?
─────┼────────────────────────────────
   1 │        6491  city_102  missing
   2 │        4476  city_101  Male
   3 │       21538  city_100  Male
   4 │       28476  city_103  Male
   5 │       27107  city_103  Male


## Get row

In [7]:
### Get nth row
k = 5
row = df[k:k, :]
row

1×3 DataFrame
 Row │ enrollee_id  city      gender
     │ Int64        String    String?
─────┼────────────────────────────────
   1 │       27107  city_103  Male

In [13]:
### Get kth row and some columns
k = 44
useCols = [:city,  :gender]
row = df[k:k+1, useCols]

2×2 DataFrame
 Row │ city     gender
     │ String   String?
─────┼──────────────────
   1 │ city_40  Male
   2 │ city_46  Male

## Add row

In [22]:
### Read a few rows from file + get one of the rows
df = CSV.read(filename, DataFrame; select=colsIwannaUse, limit=3)
dfN = copy(df)
k = nrow(df)
rows = df[k-1:k, :]

2×3 DataFrame
 Row │ enrollee_id  city     gender
     │ Int64        String   String?
─────┼───────────────────────────────
   1 │       29725  city_40  Male
   2 │       11561  city_21  missing

In [26]:
### Vertically concatentate the rows to the dataframe
vcat(dfN, rows)

5×3 DataFrame
 Row │ enrollee_id  city      gender
     │ Int64        String    String?
─────┼────────────────────────────────
   1 │        8949  city_103  Male
   2 │       29725  city_40   Male
   3 │       11561  city_21   missing
   4 │       29725  city_40   Male
   5 │       11561  city_21   missing

In [27]:
dfR = df[:,reverse(names(df))]

3×3 DataFrame
 Row │ gender   city      enrollee_id
     │ String?  String    Int64
─────┼────────────────────────────────
   1 │ Male     city_103         8949
   2 │ Male     city_40         29725
   3 │ missing  city_21         11561