# Download Data From External Sources

In [1]:
import pandas as pd
import requests
import io

## Download Tutorial Data on Programming Languages

In [2]:
url = "https://raw.githubusercontent.com/nassarhuda/easy_data/master/programming_languages.csv"
req = requests.get(url).content
data = req.decode('utf8')
df = pd.read_csv(io.StringIO(data))
df.head(5)

   year                    language
0  1951  Regional Assembly Language
1  1952                    Autocode
2  1954                         IPL
3  1955                  FLOW-MATIC
4  1957                     FORTRAN

### Download CO2 Concentration

In [3]:
url2 ="https://raw.githubusercontent.com/vega/vega-datasets/master/data/co2-concentration.csv"
req = requests.get(url2).content
data = req.decode('utf8')
df = pd.read_csv(io.StringIO(data))
df.head(5)

         Date     CO2  adjusted CO2
0  1958-03-01  315.70        314.44
1  1958-04-01  317.46        315.16
2  1958-05-01  317.51        314.71
3  1958-07-01  315.86        315.19
4  1958-08-01  314.93        316.19