# Create a Dataframe in Python

In [4]:
import pandas as pd

## Create Dataframe based on arrays

In [5]:
accounts = ["Account_A", "Account_B", "Account_D", "Account_X"]
months = ["January", "February", "March"]
df = pd.DataFrame(index=accounts, columns=months)
df = df.fillna(0)

In [6]:
df

           January  February  March
Account_A        0         0      0
Account_B        0         0      0
Account_D        0         0      0
Account_X        0         0      0

## Create Dataframe based on dictionary

In [19]:
zeros = [0, 0, 0]
myDict = {'Account_A': zeros, 'Account_B': zeros, 'Account_D': zeros, 'Account_X': zeros}
df = pd.DataFrame.from_dict(myDict, orient='index', columns=months)
df

           January  February  March
Account_A        0         0      0
Account_B        0         0      0
Account_D        0         0      0
Account_X        0         0      0

## Create the same dataframe in Python and in Julia

In [50]:
service = ["Consulting", "Installation", "Operation"]
account = ["0815", "1234", "9876"]
quantity = [10, 100, 50]
price = [100, 10, 50]
cost = [30, 7, 25]

In [51]:
myIndex = ["Account", "Quantity", "Price", "Cost"]
myData = [account, quantity, price, cost]

In [52]:
### As Python is row-based, but the data are given in a 'column-based' format, the 'transposed table' is created
dfT = pd.DataFrame(index=myIndex, columns = service, data = myData)
dfT

         Consulting Installation Operation
Account        0815         1234      9876
Quantity         10          100        50
Price           100           10        50
Cost             30            7        25

In [53]:
df = dfT.T
df

             Account Quantity Price Cost
Consulting      0815       10   100   30
Installation    1234      100    10    7
Operation       9876       50    50   25

Done (Similar result as with Julia)