# Rows

## Get Started (Load a DataFrame)

In [1]:
import pandas as pd

In [21]:
names = ["Alice", "Bob", "Conor", "Dave","Zed"]
df1 = pd.DataFrame(names, columns=["Name"])
df1

    Name
0  Alice
1    Bob
2  Conor
3   Dave
4    Zed

In [12]:
age = [21,32,43,54,65]
df2 = pd.DataFrame(age, columns=["Age"])
df2;

## Merge Pandas Dataframes
pandas.merge() is the underlying function used for all merge/join behavior.

### Inner Join
Here there must be a perfect mathc on both columns used to join. In Pandas, you can use the index to join.

In [15]:
df = pd.merge(df1, df2, how="inner", left_index=True, right_index=True)
df

    Name  Age
0  Alice   21
1    Bob   32
2  Conor   43
3   Dave   54
4    Zed   65

### Outer Join
Here some extra rows in one of the tables are needed to demonstrate the effect.

In [19]:
age3 = [21,32,43,54,65, 76, 87]
df3 = pd.DataFrame(age3, columns=["Age"])
df = pd.merge(df1, df3, how="outer", left_index=True, right_index=True)
df

    Name  Age
0  Alice   21
1    Bob   32
2  Conor   43
3   Dave   54
4    Zed   65
5    NaN   76
6    NaN   87

Left join, right join anc cross are self-explanatory ...

## Aggregating columns in a DF (groupby)

In [72]:
### So much effort to get to the same DF as in the Julia tutorial ... 
import numpy as np
v = []
for i in range(8):
    arr = []
    myRand = np.random.rand(1)[0]
    arr.append(1 + i % 2) 
    arr.append(myRand)
    v.append(arr)
df1 = pd.DataFrame(v, columns=["Id2", "V"])
df1

   Id2         V
0    1  0.122288
1    2  0.109825
2    1  0.360057
3    2  0.866841
4    1  0.588473
5    2  0.551074
6    1  0.166436
7    2  0.703949

In [73]:
dfG = df1.groupby(by = "Id2").sum()
print(dfG)

            V
Id2
1    1.237253
2    2.231689