In [ ]:
# Complete DF

In [1]:
import pandas as pd

In [12]:
filename = "Data_Applicants/aug_train.csv"
colsIwannaUse = ["Name", "Cylinders"]
df = pd.read_csv(filename, nrows=5)
dfR = df[["enrollee_id", "training_hours"]]
dfR

   enrollee_id  training_hours
0         8949              36
1        29725              47
2        11561              83
3        33241              52
4          666               8

## Apply scalar to table

In [13]:
dfR = dfR.set_index("enrollee_id")
dfR = dfR * 10
dfR

             training_hours
enrollee_id
8949                    360
29725                   470
11561                   830
33241                   520
666                      80